.SearchInputWrapper {
    position: relative;
    width: 100%;
    max-width: 420px;
}

.Input{
    padding: 15px 36px;
    border: none;
    background-color: #EEEEEE;
    font-size: 16px;
    line-height: 18px;
    border-radius: 12px;
    width: 100%;
}

.Input:focus{
    outline: none;
}



@media screen and (min-width: 768px) {
    .Input:hover {
            background-color: #E6E6E6;
        }
}

.Input::placeholder{
    color: #9C9C9C;
}

.IconLeft,
.IconRight {
    height: 24px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.IconLeft {
    left: 8px;
}

.IconRight {
    right: 8px;
    top: 26px;
}